.buy-ticket {
  margin-top: 2em;
}

.buy-ticket p:not(:first-of-type) {
  margin-top: 1em;
}

.buy-ticket button {
  margin-top: 1em;
}


.event-info h2 {
  margin-top: 1em;
}

.event-info h3 {
  margin-top: 1em;
}

.event-info p:not(:first-of-type) {
  margin-top: 0.25em;
}


.more-resources {
  margin-top: 2em;
}